*.agdai
*.aux
*.log
*.ptb
.ghc.environment.*
*~
.DS_Store

/dist/
/dist-*/

/.stack-work
/stack*.yaml.lock

/TAGS

/test/out/
/test/Foo-generated.lagda
/test/Foo.lagda.tex
/test/Foo.pdf
/test/Foo.tex
